.menuToggle {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  width: 20px;
  height: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.menuToggle span {
  display: block;
  height: 2px;
  background-color: var(--corBotao);
  border-radius: 2px;
  transition: all 0.3s ease;
}

/* Animação para virar X */
.menuToggle.open span:nth-child(1) {
  transform: rotate(45deg) translate(0px, 0px);
}

.menuToggle.open span:nth-child(2) {
  opacity: 0;
}

.menuToggle.open span:nth-child(3) {
  transform: rotate(-45deg) translate(5px, -5px);
}
