/* Overlay e modal */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal {
  background: var(--fundoForm);
  padding: 5rem;
  width: 60rem;
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  position: absolute;
}

/* Botão de fechar */
.closeButton {
  position: relative;
  text-align: right;
  font-size: 2rem;
  background: none;
  border: none;
  cursor: pointer;
}

/* Cabeçalho do formulário */
.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: var(--brecha);
}

.title {
  color: var(--corTitulo);
}

.description {
  color: var(--corTexto);
}

/* Corpo do formulário */
.form {
  display: flex;
  flex-direction: column;
  gap: var(--brecha);
}

.involucro {
  display: flex;
  gap: var(--brecha);
  justify-content: space-between;
  margin-top: 3rem;
}

.inputGroup,
.textareaGroup {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.input,
.textarea {
  display: flex;
  height: 3rem;
  border: none;
  outline: none;
  border-bottom: 1px solid #696969;
  color: #696969;
  background-color: transparent;
}

.textarea {
  height: 4rem;
  overflow: hidden;
}

/* Botão de envio */
/* No seu arquivo de estilos (ex: styles.module.css) */

.containerBotao {
  margin-top: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.submitButton {
  width: 10rem;
  background-color: #333333;
  color: white;
  border: none;
  padding: 1rem 1.5rem;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.05s ease-out;
  transform: translateY(0);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.submitButton:active {
  transform: translateY(2px);
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
}

/* Opcional: Feedback visual ao passar o mouse */
.submitButton:hover {
  opacity: 0.9;
}

/* Foco nos campos */
.input:focus,
.textarea:focus {
  border-bottom: 1px solid #007bff;
}

/* Responsividade */

@media screen and (max-width: 600px) {
  .involucro {
    display: flex;
    flex-flow: column;
  }

  .modal {
    width: 90%;
  }
}

@media screen and (max-width: 480px) {
  .involucro {
    display: flex;
    flex-flow: column;
  }

  .modal {
    width: 90%;
  }
}

@media screen and (max-width: 320px) {
  .involucro {
    display: flex;
    flex-flow: column;
  }
}
