.container {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container_conteudo {
  width: 70%;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
