.container {
  display: flex;
  flex-direction: column;
  min-height: 640px;
  align-items: center;
  justify-content: flex-start;
}

.container_conteudo {
  width: 70%;
  min-height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
