@import url("https://fonts.googleapis.com/css2?family=Special+Elite&display=swap");

body {
  font-family: "Special Elite", serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  /* font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif; */
  /* font-family: "Share Tech Mono", monospace; */
  font-family: "Special Elite", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.6rem;
  height: 100vh;
  position: relative;
  background-color: var(--fundo);
}
