@import url("https://fonts.googleapis.com/css2?family=Special+Elite&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%; /* 1rem = 10px */
  height: 100%; /* garante altura total */
}
body {
  font-family: "Special Elite", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.6rem;
  height: 100vh; /* ocupa toda a viewport */
  width: 100%;
  position: relative;
  background-color: var(--fundo);
  overflow-y: auto; /* ativa scroll vertical */
  overflow-x: hidden; /* evita scroll lateral */
}
