.home {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 5rem;
}

.home_banner {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
}

.home_banner h1 {
  color: var(--corTitulo);
  padding-bottom: var(--preenchimentoInferior);
  letter-spacing: var(--espacamentoMinino);
}

.home_banner p {
  border-top: var(--borda) dashed var(--corBorda);
  padding-top: var(--preenchimentoSuperior);
  color: var(--corTexto);
  width: fit-content;
  text-align: center;
}

.perfil {
  width: 20rem;
}

.icone {
  display: flex;
  justify-content: center;
}

.si {
  width: 80%;
}
