.heading {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 2.5rem;
  align-items: center;
}

.heading_conteudo {
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.heading a {
  text-decoration: none;
  color: var(--corLogo);
}

@media screen and (max-width: 1024px) {
}

@media screen and (max-width: 767px) {
}

@media screen and (max-width: 480px) {
}
