.topo {
  height: 150px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.heading_conteudo {
  height: 100px;
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.topo a {
  text-decoration: none;
  color: var(--corLogo);
}
