/* --- ÍCONES SOCIAIS --- */
.navbar {
  height: 60vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
  overflow-y: auto; /* scroll só se necessário */
  overflow-x: hidden;

  /* Esconde a barra de rolagem no Chrome, Edge e Safari */
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE 10+ */
}

.navbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Edge */
}

.nav {
  display: flex;
  flex-flow: column;
  gap: 2.5rem;
}

.secao {
  display: flex;
  flex-flow: column;
  gap: 2;
}

.secao h1 {
  color: var(--corTitulo);
  border-bottom: var(--borda) dashed var(--corBorda);
  padding-bottom: var(--preenchimentoInferior);
  letter-spacing: var(--espacamentoMinino);
}

.secao p {
  padding-top: 1rem;
  color: var(--corTexto);
}

.vetor {
  width: 30rem;
}

.social {
  display: flex;
  justify-content: flex-start;
  flex-flow: wrap;
  gap: 1rem;
  list-style: none;
  /* Mantenha esta margem ou ajuste onde for usar o componente */
  margin-block-start: 4rem;
}

.social li {
  position: relative;
  flex-basis: 4.5rem;
}

/* Tooltip (o pseudo-elemento ::after do li) */
.social li::after {
  position: absolute;
  content: attr(data-tooltip);
  inset: -45% auto auto 50%;
  z-index: -1;
  translate: -50%;
  padding: 0.25rem 0.75rem;
  font-size: 0.875rem;
  color: #fff;
  /* Utiliza a variável --bg */
  background: var(--bg, #070707);
  border-radius: 0.25rem;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: inset 0.4s cubic-bezier(0.47, 2, 0.41, 1.5),
    visibility 0.3s ease-in-out, opacity 0.2s ease-in-out;
}

/* Tooltip hover/focus */
.social li:has(a:hover, a:focus-visible)::after {
  opacity: 1;
  visibility: visible;
  inset-block-start: -60%;
}

/* Link (a) */
.social a {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  aspect-ratio: 1;
  font-size: 1.75rem;
  color: var(--corIcone);
  border: 1px solid;
  border-radius: 100%;
  text-decoration: none;
  outline: none;
  overflow: hidden;
  transition: color 0.3s ease-in-out;
}

/* Classe aplicada ao ícone SVG pelo React (importante!) */
.socialIcon {
  position: relative;
  z-index: 1;
}

/* Efeito de preenchimento (o pseudo-elemento ::after do a) */
.social a::after {
  position: absolute;
  content: "";
  inset: 100% 0 0;
  /* Utiliza a variável --bg */
  background: var(--bg, #070707);
  pointer-events: none;
  transition: inset 0.3s ease-in-out;
}

/* Efeito de cor e preenchimento ao hover/focus */
.social a:hover,
.social a:focus-visible {
  color: #fff;
}

.social a:hover::after,
.social a:focus-visible::after {
  inset-block-start: 0;
}
