.app {
  height: auto;
  display: flex;
  flex-flow: column;
}

.contact_button {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  color: var(--color-heading);
  cursor: pointer;
  background: none;
  border: none;
  outline: none;
}

.button {
  padding: 0;
  cursor: pointer;
}

.icone {
  font-size: var(--tamanho);
  color: var(--corIcone);
  display: flex;
  margin-right: 4rem;
}
