.app {
  height: 100vh;
  display: flex;
  flex-flow: column;
}

.contact_button {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  color: var(--color-heading);
  cursor: pointer;
  background: none;
  border: none;
  outline: none;
}

.containerBotao {
  position: fixed; /* sai do fluxo flex e fica fixo */
  bottom: 2.5rem; /* distância do fundo */
  right: 1rem; /* distância da esquerda */
  width: auto;
  height: auto; /* altura só do conteúdo */
}

.button {
  padding: 0;
  cursor: pointer;
}

.icone {
  font-size: var(--tamanho);
  color: var(--corIcone);
  display: flex;
  margin-right: 3rem;
}
