.app {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.containerBotao {
  position: fixed;
  bottom: 3rem;
  right: 0;
}

.contact_button {
  color: var(--color-heading);
  cursor: pointer;
  background: none;
  border: none;
  outline: none;
}

.button {
  cursor: pointer;
}

.icone {
  font-size: var(--tamanho);
  color: var(--corIcone);
  display: flex;
  margin-right: 3rem;
}
