.habilidades {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 5rem;
  padding: 5rem 0;
}

.introducao h1 {
  border-bottom: var(--borda) dashed var(--corBorda);
  padding-bottom: var(--preenchimentoInferior);
  letter-spacing: var(--espacamentoMinino);
}

.introducao p {
  padding-top: var(--preenchimentoSuperior);
  color: var(--corTexto);
}

.lista {
  display: flex;
  gap: 2.5rem;
  flex-flow: column;
}

.lista p {
  font-weight: bold;
  color: var(--corTitulo);
}

.lista ul {
  display: flex;
  flex-flow: wrap;
  gap: 2.5rem;
  list-style-type: none;
  color: var(--corTexto);
}

.ferramentas li,
.linguagens li {
  width: fit-content;
  list-style-type: none;
  border: var(--borda) dashed var(--corBorda);
  padding: var(--preenchimento);
}

.curriculo {
  text-decoration: none;
  font-weight: bold;
  color: var(--corLinkVitae);
}

.curriculo:hover {
  color: var(--corLinkHover);
}
