.habilidades {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 60vh;
  overflow-y: auto;
  overflow-x: hidden;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.habilidades_container {
  display: flex;
  flex-flow: column;
  gap: 2.5rem;
}

.introducao h1 {
  border-bottom: var(--borda) dashed var(--corBorda);
  padding-bottom: var(--preenchimentoInferior);
  letter-spacing: var(--espacamentoMinino);
}

.introducao p {
  padding-top: var(--preenchimentoSuperior);
  color: var(--corTexto);
}

.box {
  display: flex;
  gap: 2.5rem;
  flex-flow: column;
}

.box p {
  font-weight: bold;
  color: var(--corTitulo);
}

.box ul {
  display: flex;
  flex-flow: wrap;
  gap: 2.5rem;
  list-style-type: none;
  color: var(--corTexto);
}

.ferramentas li,
.linguagens li {
  width: fit-content;
  list-style-type: none;
  border: var(--borda) dashed var(--corBorda);
  padding: var(--preenchimento);
}

.curriculo {
  text-decoration: none;
  font-weight: bold;
  color: var(--corLinkVitae);
}

.curriculo:hover {
  color: var(--corLinkHover);
}

@media screen and (max-width: 767px) {
  .habilidades {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    height: 60vh;
    overflow-y: auto;
    overflow-x: hidden;
    scrollbar-width: none;
    -ms-overflow-style: none;
  }
}

@media screen and (max-width: 480px) {
  .habilidades {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    height: 60vh;
    overflow-y: auto;
    overflow-x: hidden;
    scrollbar-width: none;
    -ms-overflow-style: none;
  }
}
